html{
  font-size: 16px; /* 16px * 62.5 = 10px = 1 rem */
  box-sizing: border-box;
}
body{
 font: 1.6rem Helvetica;
 margin:0;
 background-image: linear-gradient(#B34BF5, #7D68F5,#6276F5);
 background-repeat: no-repeat
}
#root{
  height: 100%;
}
.form-control {
  border-radius: 1.25rem !important;
}
.rounded-20{
   border-radius: 20px !important;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: rgba(138, 97, 245,.45) !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(138, 97, 245,.45) !important;
}

/* grid */
.grid-container{
  display:grid;
  height:100%; /*to cover the whole page*/
  grid-template-areas:"header" "main" "footer";
  grid-template-columns: 1fr; /* just one column*/
  grid-template-rows: 5rem 1fr 7rem; /* three rows:header, main, footer*/
  
}
.header{
  grid-area:header;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding: 2em;;
}
.brand a{
  color:#fff;
  font-size:1.5rem;
  font-weight:bold;
  text-decoration: none;

}
.brand a:hover{
  color: #000;
  text-decoration: none   
}
.header-links a{
  color:#fff;
  text-decoration: none;
  padding:0 .5em

}
.header-links a:hover{
  color:#fff;
}
.main{
  grid-area:main;
}
.footer{
  grid-area:footer;
  color:#fff;
 padding: 2em;
      display:flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
    
}
.ms-form{
  border-radius:20px;
  background-color: #F2ECEC;
  margin-top:20px;
}
.ms-form-btn{
  border-radius:10px;
  padding:1em;
  background-color: #5DB19B !important;
  color: #fff !important;
  margin:2em 0;
}

.social-icons .fab{
  font-size:22px;
  padding:0 .35em;
  color:#fff
}

/* media queries */
@media only screen and (max-width: 800px) {
  .footer{
    display:block
  }
  .footer > div{
    margin:.5em
  } 
}